*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    

}
.headerImg-container{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
}
.headerImg-container img{
    width: 24%;
    height: auto;

}

#nav-bar{
    width: 70%;
    margin: auto;
    background-color: #dda059;
    border-radius: 20px;
}
#nav-barUl{
    width: 100%;
    display: flex;
    background-color: #dda059;
    border-radius:10px ;
}

.nav-item{
    background-color: #6b3710;
    width: 24%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;

}
.nav-item a{
    color:  #dda059;
    border-radius: 1rem;
}
.nav-item a:hover{
    color: white;
}
/* main  */
main{
    width: 70%;
    margin: auto;
}
/* container inside main  */
.container1{
    width: 100%;
    background-color:transparent;
    height: auto;
    margin-top: 1rem;
    padding-top: .5rem;
    border: 6px solid #dda059;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* container inside container1  */
.carousel-container{
    width: 95%;
    height: auto;
    /* background-color: red; */
}
.carousel-inner{
    height:auto;
    margin: auto;
}
.carousel{
    width: 100%;
    margin: auto;
}

.carousel-item img{
    height: 100% !important;
    width:  100% !important;
    /* border: 1px solid red; */
}
/* paragraph  */
.paragraph-container{
    width: 95%;
    margin-top: .5rem;
    padding: 0;
    text-align: justify;
    color: black;
    font-size: 1.2rem;
    line-height: normal;
}




@media(max-width : 1000px){
    .headerImg-container{
        display: none;

    }
    #nav-bar{
        width: 100%;
        border-radius:0px ;
    }
    main{
        width:100%;
    }
    .container1{
        width: 100%;
    }
    .carousel-container{
        width: 95%;
        height: auto;
        background-color: red;
    }
    .carousel-inner{
        /* width: 70%; */
        height:auto;
        margin: 0;
    }
    .carousel{
        width: 100%;
        margin: 0;
    }


}