body{
  background-color:#59c9f1
}

#linesbetween{
  background-color:#dda059;

}

.navigation{
  background-color: #6b3710;
  text-align: center;
}

.navigation a{
  color:#dda059;
  text-decoration: none;
}
.navigation a:hover{
  color:#da9c56
}


.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

